{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %} 

{% block content %}
   <div class="md:mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="md:mb-12 text-2xl text-center">Newest Items</h2>

    <div class="md:grid grid-col-3 gap-3">
        {% for item in items %}
          <div>
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{ item.image.url}}" class="md:rounded-t-xl">
                </div>
                <div class="md:p-6 bg-white rounded-b-xl">
                    <h2 class="md:text-2xl">{{ item.name }}</h2>
                    <p class="md:text-gray-500">Price: {{ item.price }}</p>
                </div>
            </a>
          </div>
        {% endfor %}
    </div>
   </div>

   <div class="md:mt-6 px-6 py-12 bg-yellow-100 rounded-xl">
      <h2 class="md:mb-12 text-2xl text-center">Cities</h2>

      <div class="md:grid grid-col-3 gap-3">
        {% for city in cities %}
          <div>
            <a href="#">
                <div class="md:p-6 bg-white rounded-b-xl">
                    <h2 class="md:text-2xl">{{ city.name }}</h2>
                    <p class="md:text-gray-500">{{ city.items.count }} items</p>
                </div>
            </a>
          </div>
        {% endfor %}
{% endblock %}