{% extends 'core/base.html' %}

{% block title %}Log In{% endblock %} 

{% block content %} 
<div class ="md:w-1/2 my-6 mx-auto p-6 bg-orange-100 rounded-xl">
    <h1 class ="md:mb-6 text-3xl">Login In</h1>

    <form  method="post" action=".">
        {% csrf_token %} 

        
        
        <div class="md:mb-3">
            <label class="md:inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>

        <div class="md:mb-3">
            <label class="md:inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>


        {% if form.errors or form.non_field_erros %} 
            <div class="md:mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %} 
                    {{ field.errors }} 
                {% endfor %} 

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="md:py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
</div>
{% endblock %}